h1,h5{
    text-align: center;
}
a{
    color: rgb(196, 67, 35);
}
p,li,ol{
    color: rgb(255, 0, 0);
}
body{
    background-image: url(img/deadpool.jpg);
    background-position: center;
    background-size: cover;
    height: 580px;
}
img{
    height: 10%;
    width: 10%;
}

